@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color:antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height:65px;
    background-color: #000;
    color:white;
}

nav ul li{
    padding:0 12px;
}


.brand img{
    width:44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size:1.3rem;
}

.container{
    height:80vh;
}
.bottom{
    display: flex;
    text-align:center;
    position:sticky;
    background-color: black;
    height:130px;
    bottom:0;
}

#myProgressBar{
    width:80%;
}